body{
font-family: Arial;
margin:0;
padding:0;
}

header{
background-color: rgba(187,196,197,0.926);
color:#020202ad;
padding:20px;
text-align:center;
}

nav{
background-color: lightgray;
padding:10px;
text-align:center;
}

nav a{
margin:15px;
text-decoration:none;
font-weight:bold;
color:black;
padding:8px;
}

nav a:hover{
color:red;
background-color:white;
}

section{
padding:20px;
text-align:center;
}

.hero{
background-color:#f4f4f4;
padding:30px;
}

.course-box{
display:inline-block;
width:120px;
padding:15px;
margin:10px;
background-color:#9ed2ff;
border:2px solid black;
border-radius:8px;
text-align:center;
}

.course-box a{
text-decoration:none;
color:black;
font-weight:bold;
display:block;
}

footer{
background-color:rgb(139,69,0);
color:white;
text-align:center;
padding:10px;
}

/* Slider CSS */

.slider{
width:100%;
height:300px;
overflow:hidden;
position:relative;
}

.slides{
display:flex;
width:300%;
animation:slide 9s infinite;
}

.slides img{
width:100%;
height:300px;
}

@keyframes slide{
0%{margin-left:0;}
33%{margin-left:0;}

35%{margin-left:-100%;}
66%{margin-left:-100%;}

68%{margin-left:-200%;}
100%{margin-left:-200%;}
}
